/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: #3d5af1;
    --mainColorDark: #3651d4;
    --mainColorLight: #5872f5;
    --textColor: #cfcde7;
}

body {
    overflow-x: hidden;
    background-color: #e4e2f5;
    min-height: 100vh;
    display: flex;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

/* ===== Nav Section ===== */
nav {
    position: sticky;
    background-color: var(--mainColor);
    width: 16rem;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 1.8rem .85rem;
    color: #fff;
    transition: width 0.5s ease-in-out;
}

nav::before {
    content: "";
    position: absolute;
    width: 2rem;
    height: 100%;
    top: 0;
    left: 100%;
}

.sidebar-top .logo {
    width: 2.1rem;
    margin: 0 0.8rem;
}

.sidebar-top h3 {
    padding-left: 0.5rem;
    font-weight: 600;
    font-size: 1.15rem;
}

.sidebar-top {
    display: flex;
    align-items: center;
    position: relative;
}

.shrink-btn {
    position: absolute;
    top: 50%;
    height: 27px;
    padding: 0 0.3rem;
    background-color: var(--mainColor);
    box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
    border-radius: 5px;
    cursor: pointer;
    right: -2.65rem;
    transform: translateY(-50%) translateX(-8px);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ;
}

.shrink-btn i {
    line-height: 27px;
    transition: 0.3s;
}

.shrink-btn:hover {
    background-color: var(--mainColorDark);
}

nav:hover .shrink-btn, 
.shrink-btn.hovered {
    transform: translateY(-50%) translateX(0px);
    opacity: 1;
    pointer-events: all;
}

.search {
    min-height: 2.7rem;
    background-color: var(--mainColorLight);
    margin: 2rem 0.5rem 1.7rem;
    display: grid;
    grid-template-columns: 2.7rem 1fr;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
}

.search input {
    height: 100%;
    border: none;
    background: none;
    color: white;
    caret-color: white;
    outline: none;
}

/* ===== Main Section ===== */

main {
    flex: 1;
    padding: 2rem;
    color: #1f2027;
    display: flex;
    flex-direction: column;
}

main h1 {
    margin-bottom: 1rem;
}

main .copyright {
    margin-top: auto;
    font-size: 0.9rem;
}

main .copyright span {
    color: var(--mainColor);
    font-weight: 500;
    cursor: pointer;
}

/* When the menu shrinks */

.hide {
    transition: opacity 0.3s 0.2s;
}

body.shrink nav {
    width: 5.4rem;
}

body.shrink .hide {
    opacity: 0;
    pointer-events: none;
    transition-delay: 0s;
}

body.shrink .shrink-btn i {
    transform: rotate(-180deg);
}